body
{
	margin: 0px;
	background-image:url('images/background.png');
	background-size:cover;
}

#footer
{
	border-top: thick white solid;
	position: fixed;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 1rem;
	background-color: #efefef;
	text-align: center;	
}
