body
{
	margin: 0px;
	background-image:url('images/yay.png');
	background-size:cover;
}

#nav table
{
	padding:0px; 
	float:left;
	background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, rgba(255,255,255,0) 50%, rgba(255,255,255,0) 100%);
	position:relative;
}

#navIcon
{
	padding:0px; 
}

#navlink
{
	width:100%;
}
#navlink li
{
	list-style:none;
	display: inline-block;
	padding: 25px;
	float:left;
	padding-top:0px;
}

#navlink a:hover
{
	border-bottom:thick black solid;
}

#navlink a
{
	text-decoration:none;
	font-size:large;
}

#header
{
	font-size:xx-large;
	text-align:center;
}

#header:hover
{
	
}